body {
    font-family: 'Poppins', sans-serif;
    word-break: break-all;
}

p {
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 1.4em;
    /*font-weight: 300;*/
    /*line-height: 1.7em;*/
    /*color: #999;*/
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}
/*preloader*/
.preloader {
    position: fixed;
    left: 0;
    width: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 9999999;
    -webkit-transition: .9s;
    transition: .9s;
}

.preloader .loader {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.preloader .loader .loader-outter {
    position: absolute;
    border: 4px solid black;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .loader-inner {
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: calc(40% - 21px);
    top: calc(40% - 21px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .indicator {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1.5);
    transform: translateY(-50%) scale(1.5);
}

.preloader .loader .indicator svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.preloader .loader .indicator svg polyline#back {
    stroke: black;
}

.preloader .loader .indicator svg polyline#front {
    stroke: white;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    -webkit-animation: dash 1s linear infinite;
    animation: dash 1s linear infinite;
}

.preloader::before, .preloader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
    z-index: -1;
    background: white;
    -webkit-transition: .9s;
    transition: .9s;
}

.preloader::after {
    left: auto;
    right: 0;
}

.preloader.preloader-deactivate {
    visibility: hidden;
}

.preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
    width: 0;
}

.preloader.preloader-deactivate .loader {
    opacity: 0;
    visibility: hidden;
}

@-webkit-keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes dash {
    62.5% {
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    62.5% {
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
    background: white;
    transition: all 0.3s;
    padding-left: 20px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/*#sidebar ul li a:hover {*/
/*    !*color: #7386D5;*!*/
/*    background: #fff;*/
/*}*/

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /*background: #6d7fcc;*/
}

a[data-toggle="collapse"] {
    position: relative;
}

/*.dropdown-toggle::after {*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 20px;*/
/*    transform: translateY(-50%);*/
/*}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.new-post {
    background: #6d7fcc;
    color: white;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    background: white;
    min-height: 20vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* ---------------------------------------------------
    Header STYLE
----------------------------------------------------- */
.main-logo a{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.transparent-btn {
    background-color: transparent !important;
    background-image: none !important;
    border: none transparent;
    /*color: #FFFFFF;*/
}


/* ---------------------------------------------------
    메인 페이지 STYLE
----------------------------------------------------- */
.banner-section {
    margin-bottom: 50px;
    background-image: url("/assets/images/default-banner.jpeg");
    background-size: cover;
    width: 100%;
    height: 400px;

    background-repeat: no-repeat;
}
.post-title{
    font-size: 30px;
    font-weight: bold;
}
.post-content p{
    font-size: 24px;
    margin-bottom: 5px;
}

.post-date {
    font-size: 15px;
    font-style: italic;
    color: darkgrey;
    margin-bottom: 5px;
}
.post-list-section {
    padding-left: 0;
    margin-bottom: 0;
}
.post-thumbnail{
    display: flex;
    justify-content: center;
}
.post-thumbnail img{
    width: 270px;
    height: 200px;
    object-fit: none;
}

/* ---------------------------------------------------
    글 작성 페이지 STYLE
----------------------------------------------------- */

.dashboard_menu .nav-tabs li.nav-item a.active {
    background-color: #FF324D;
    color: #fff;
}
.dashboard_menu .nav-tabs li.nav-item a i {
    margin-right: 8px;
    vertical-align: middle;
}
.dashboard_content {
    margin: 0;
}
.dashboard_content .card-header {
    background-color: transparent;
    border-color: #f0f0f0;
}
.dashboard_content .card-header * {
    margin: 0;
}
.dashboard_content .card {
    border-radius: 0;
    border: 0;
    box-shadow: 0 0px 4px 0 #e9e9e9;
}
.dashboard_content .card-body p:last-child {
    margin: 0;
}
.post-form{
    padding-left: 20px;
}
.thumbnail-header{
    margin-bottom:0;
}
.thumbnail-header label{
    padding-left: 20px;
}
#category-selection{
    display: block;

}
/* ---------------------------------------------------
    게시글 조회 화면 STYLE
----------------------------------------------------- */
.post-meta span,a{
    margin-right: 10px;
}
.post-content-section{
    min-height: 300px;
    padding: 15px;
}
.comment_form input{
    width: 300px;
    margin-bottom: 15px;
}

.list_none li {
    list-style:none;
}

.comment_author {
    color: #292b2c;
    font-size: 17px;
    font-weight: bolder;
}
.comment_list {
    padding-left: 0;
    margin-bottom: 10px;
}
.comments li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.comment_img {
    float: left;
}
.comment_img img {
    border-radius: 100%;
    max-width: 100px;
}

.comment-content {
    font-size: 15px;
}

.comment-date {
    font-size: 15px;
    font-style: italic;
    color: darkgrey;
    margin-bottom: 5px;
}
.comment-form{
    margin-bottom: 50px;
}

.comment-form button{
    margin-top: 20px;
}

.comment-form input{
    width: 300px;
    margin-bottom: 10px;
}

.btn-icon{
    font-size: 12px;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: black;
}

.form-icon-button{
    display: inline;
}
.category{
    font-size: 16px;
    color: slategray;
    font-weight: bolder;
    margin-bottom: 10px;
}

.post_img_box {
    padding: 8px;
    margin-left: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.post_img_box img{
    width: 275px;
    height: 200px;
}
.custom-file-label, .custom-file, .custom-file-input {
    margin-left: 10px;
}

/* ---------------------------------------------------
    관리자 화면 STYLE
----------------------------------------------------- */
.section-header{
    margin-top: 15px;
    margin-bottom: 15px;
}

.category-list-section {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.required {
    color: #ff0000;
}
.admin-side-menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}