<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"> </head>

<body>
<div th:replace="fragments.html::preloader"></div>
<div class="wrapper">

    <!-- Sidebar  -->
    <nav th:replace="fragments.html::side-menu"></nav>
    <!-- Page Content  -->
    <div id="content">
        <nav th:replace="fragments.html::header"></nav>
        <div class="container" style="background-color:white;">
            <div class="post-meta">
                <h2 th:text="${post.title}"> 게시글 제목</h2>
                <span th:text="${post.author}">작성자</span> | &nbsp;
                <span th:text="${#temporals.format(post.createdDate,'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp;|&nbsp;
                <a th:href="@{'/post/edit/'+${post.id}}">수정</a>&nbsp;|
                <form class="form-inline" th:action="@{'/post/'+${post.id}}" th:method="delete" style="display: inline">
                    <button class="transparent-btn btn" type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
            <div class="line"></div>

            <div class="post-content-section">
                <p th:utext="${post.content}"></p>
            </div>

            <div class="line"></div>

            <div class="comments-section">
                <h5 class="comment_title">댓글 (<span th:text="${comments.size()}"></span>)</h5>
                <div class="line"></div>
                <ul class="list_none comment_list mt-4">
                    <li th:each="comment: ${comments}">
                        <div class="comment_block">
                            <span class="comment_author" th:text="${comment.writer}">댓글 작성자</span>
                            <form class="form-icon-button" th:action="@{'/comment/' + ${comment.id}}" th:method="delete" th:if="${session.user.isAdmin() || session.user.nickname == comment.writer}">
                                <button class="btn btn-icon"><i class="fas fa-trash-alt"></i></button>
                            </form>
                            <p class="comment-date">
                                <span th:text="${#temporals.format(comment.createdDate,'yyyy-MM-dd HH:mm:ss')}">댓글 작성 날짜</span>
                            </p>

                            <div class="comment-content">
                                <p th:text="${comment.content}">댓글 내용</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                </ul>
            </div>

            <div class="comment-form">
                <form class="mt-3" th:object="${commentForm}" th:action="@{'/comment'}" th:method="post">
                    <input class="form-control" th:field = "*{post}" hidden>
                    <input class="form-control" th:field = "*{writer}" placeholder="닉네임을 입력해주세요 *" required>
                    <textarea required="required" placeholder="댓글을 남겨주세요 *" class="form-control" th:field="*{content}" rows="4" style=" height: 100px;"></textarea>
                    <button type="submit" class="btn" name="submit" value="Submit">댓글작성</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments.html::common-js"></div>
<script th:replace="fragments.html::sidemenu-js"></script>
<script th:replace="fragments.html::preloader-js"></script>
</body>
</html>