<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>

<body>
<div th:replace="fragments.html::preloader"></div>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav th:replace="fragments.html::side-menu"></nav>

    <!-- Main Content  -->
    <div id="content">
        <nav th:replace="fragments.html::header"></nav>
        <div class="container">
            <div class="main-section">
                <h5 class="post-list-header"> <span th:text="${category.categoryName}">카테고리 </span> 게시글 (<span th:text="${postPage.getTotalElements()}"></span>)</h5>
                <div class="line"></div>
                <div class="post-list-section list-group">
                    <ul class="list_none list-group-flush post-list-section mt-4" id="post-list">
                        <li th:each="post: ${posts}" class="list-group-item list-group-item-action">
                            <div class="post_block row">
                                <div class="col-md-9 post-info">
                                    <div class="category">
                                        <span><u><a href="" th:text="${post.category.categoryName}"></a></u></span>
                                    </div>
                                    <a th:href="@{'/post/'+${post.id}}"><span class="post-title" th:text="${post.title}">제목</span></a>
                                    <p class="post-date">
                                        <span th:text="${#temporals.format(post.createdDate,'yyyy-MM-dd HH:mm:ss')}">게시글 작성 날짜</span>
                                    </p>
                                    <div class="post-content">
                                        <p th:text="${post.previewContent}">게시글 내용</p>
                                    </div>
                                </div>
                                <div class="col-md-3 post-thumbnail" th:if="${!#strings.isEmpty(post.thumbnail)}">
                                    <img th:src="${post.thumbnail}" alt="">
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center" th:if="${posts.size()>0}">
                <div>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!postPage.hasPrevious()}? disabled">
                                <a th:href="@{'/post/category/' +${categoryId} + '?desc&page=' +${postPage.getNumber() - 1}}"
                                   class="page-link" tabindex="-1" aria-disabled="true">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${i == postPage.getNumber()}? active"
                                th:each="i: ${#numbers.sequence(0, postPage.getTotalPages() - 1)}">
                                <a th:href="@{'/post/category/'+${category.id} +'?desc&page=' +${i}}"
                                   class="page-link" href="#" th:text="${i + 1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${!postPage.hasNext()}? disabled">
                                <a th:href="@{'/post/category/'+${categoryId} + '?desc&page='+${postPage.getNumber() + 1}}"
                                   class="page-link">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html::common-js"></div>
<script th:replace="fragments.html::sidemenu-js"></script>
<script th:replace="fragments.html::preloader-js"></script>
</body>
</html>